body  {margin:0px;}
#foot {text-align:center; position:absolute; bottom:0px; width:100%;}
#foot img {border:none;}
#foot .box {display:block; width:400px; margin:0 auto; border-bottom:dotted 1px black; text-decoration:none; color:#333;}
#foot .box:hover {border-bottom:solid 1px black;}
